psycopg2-binary==2.9.10
fastapi
matplotlib
pandas
numpy
uvicorn[standard]
seaborn
scikit-learn
hypercorn
bleak
langchain 
langchain-community
langchain-core
langchain-openai
openai
pydantic-settings

